<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.null_saint.learnlinux">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".cardview" />
        <activity android:name=".instruction" />
        <activity android:name=".shell" />
        <activity android:name=".terminal" />
        <activity android:name=".various" />
        <activity android:name=".about" />
        <activity android:name=".install" />
        <activity android:name=".vs" />
        <activity android:name=".what_shell" />
        <activity android:name=".understand" />
        <activity android:name=".basic" />
        <activity android:name=".shortcut" />
        <activity android:name=".basic_command" />
        <activity android:name=".ubuntu" />
        <activity android:name=".fedora" />
        <activity android:name=".debian" />
        <activity android:name=".what_linux"></activity>
    </application>

</manifest>